<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PianoPlay.app - Login</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="static/image/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
        src="https://auth.magic.link/pnp/login"
        data-magic-publishable-api-key="{{ magic_publishable_api_key }}"
        data-redirect-uri="/admin">
    </script>
</head>
<body>
<div class="piano_mb">
    <div class="container-md">
        <div class="row">
            <img class="logo-image" src="static/image/logo.png" alt="PianoPlay.app logo">
        </div>
        <div class="row piano_mb_tex-col">
            <div class="col-md-7">
                <!-- Yikes! What a horrible hack! There's gotta be a better way to fill screen so the login pop-up is
                     on a nice looking background...-->
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>